<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Constructor Injection for BookService3 -->
    <bean id="bookService3" class="com.library.service.BookService3">
        <constructor-arg value="Central Library"/>
        <property name="bookRepository3" ref="bookRepository3"/>
    </bean>

    <!-- BookRepository3 Bean -->
    <bean id="bookRepository3" class="com.library.repository.BookRepository3"/>
</beans>
